@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap');

/*Start  global*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 10px;
  font-family: 'Montserrat', 'Lato';
  color: #eee;
}

body{
  width: 100%;
  height: 100%;
  background-color: rgb(28, 28, 30);
  background: linear-gradient(45deg, #181661, rgb(11, 70, 70),#5f0d0d, #480a5f);
  background-size: 300%;
  animation: gradient 15s ease infinite;
}

section{
  padding: 12rem 0;
}

a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}

p{
  font-size: 1.8rem;
  font-weight: 300;
  background: #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

img{
  width: 100%;
}
/*End global*/

/*Start New Header*/
.con {
  width: 100%;
  height: 100vh;
  background: transparent;

  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 350px;
  height: 1000px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  height: 100px;
}

.block {
  width: 0%;
  height: inherit;
  background: transparent;
  position: absolute;
  animation: mainBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
  display: flex;
}

.title h1 {
  font-family: 'Montserrat';
  color: #ffffff;
  font-size: 64px;
  -webkit-animation: mainFadeIn 2s forwards;
  -o-animation: mainFadeIn 2s forwards;
  animation: mainFadeIn 2s forwards;
  animation-delay: 1.6s;
  opacity: 0;
  display: flex;
  align-items: baseline;
  position: relative;
}

span {
  width: 0px;
  height: 0px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  background: #ffffff;
  -webkit-animation: load 0.6s cubic-bezier(.74, .06, .4, .92) forwards;
  animation: popIn 0.8s cubic-bezier(.74, .06, .4, .92) forwards;
  animation-delay: 2s;
  margin-left: 5px;
  margin-top: -10px;
  position: absolute;
  bottom: 13px;
  right: -12px;
}

.role {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  height: 30px;
  margin-top: -10px;
}

.block {
  width: 0%;
  height: inherit;
  background: transparent;
  position: absolute;
  animation: secBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
  animation-delay: 2s;
  display: flex;
}

p {
  animation: secFadeIn 2s forwards;
  animation-delay: 3.2s;
  opacity: 0;
  font-weight: 600;
  font-family: 'Lato';
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 5px;
  position: relative;
}

@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;

  }
  50% {
    width: 100%;
    left: 0;

  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;

  }
  50% {
    width: 100%;
    left: 0;

  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: #ffffff;
    border: 0px solid #ddd;
    opacity: 0;
  }
  50% {
    width: 10px;
    height: 10px;
    background: #ffffff;
    opacity: 1;
    bottom: 45px;
  }
   65% {
      width: 7px;
    height: 7px;
      bottom: 0px;
      width: 15px
   }
   80% {
      width: 10px;
    height: 10px;
      bottom: 20px
   }
  100% {
    width: 7px;
    height: 7px;
    background: #ffffff;
    border: 0px solid #222;
    bottom: 13px;

  }
}

@keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
/*End New Header*/



/*Start reusable*/
.container{
  width: 90%;
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
  user-select: none;
}

.section-heading{
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.section-heading h1{
  font-size: 3.5rem;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  margin-bottom: 1rem;
}

.section-heading h1::before,
.section-heading h1::after{
  content: '';
  position: absolute;
  bottom: -.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.85);
}

.section-heading h1::before{
  width: 10rem;
  height: 3px;
  border-radius: .8rem;
}

.section-heading h1::after{
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  bottom: -1rem;
}

.section-heading h6{
  font-size: 2rem;
  font-weight: 500;
}

.has-margin-right{
  margin-right: 5rem;
}
/*End reusable*/


/*Start header*/
header{
  width: 100%;
  height: 100vh;
}

.top-nav{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: -100vh;
  z-index: 50;
  background-color: rgb(28, 28, 30);
  background: linear-gradient(45deg, #181661, rgb(11, 70, 70),#5f0d0d, #480a5f);
  background-size: 300%;
  animation: gradient 15s ease infinite;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  transition: all 650ms cubic-bezier(1,0,0,1);
}

.nav-list{
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

li{
  margin: 0 2rem;
}

.nav-link{
  font-family: 'Montserrat', 'Lato';
  font-size: 5rem;
  padding: 1rem;
  background: #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-link:hover,
.nav-link:focus{
  background: linear-gradient(to top, #abaeb1, #641980, #abaeb1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top-nav.open{
  top: 0;
  border-radius: initial;
}

.menu-toggler{
  position: absolute;
  top: 5rem;
  right: 5rem;
  width: 5rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1500;
  transition: transform 650ms ease-out;
}

.menu-toggler.open{
  transform: rotate(-45deg);
}

.bar{
  background: linear-gradient(to right, #ad0505, #350647);
  width: 100%;
  height: 4px;
  border-radius: .8rem;
}

.bar.half{
  width: 50%;
}

.bar.start{
  transform-origin: right;
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.start{
  transform: rotate(-450deg) translateX(.8rem);
}

.bar.end{
  align-self: flex-end;
  transform-origin: left;
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.end{
  transform: rotate(-450deg) translateX(-.8rem);
}

.landing-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 1;
}

.landing-text h1{
  font-size: 15rem;
  font-family: 'Montserrat';
  background: #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 1rem;
  user-select: none;
}

.landing-text h6{
  font-size: 4rem;
  font-weight: 150;
  font-family: 'Lato';
  background: #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  user-select: none;
}
/*End header*/


/*Start about*/
.about .container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-heading{
  text-align: center;
  text-transform: uppercase;
  line-height: 0;
  margin-bottom: 10rem;
  user-select: none;
}

.about-heading h1{
  font-size: 10rem;
  opacity: .85;
}

.about-heading h6{
  font-size: 2rem;
  font-weight: 300;
  opacity: .5;
}

.profile-img{
  flex: 1;
  margin-right: 5rem;
}

.about-details{
  flex: 1;
  text-align: center;
  opacity: 1;
}

.social-media{
  margin-top: 5rem;
}

.social-media i{
  font-size: 5rem;
  transition: color 650ms;
}

.fa-youtube-square:hover{
  color: #c4302b;
}

.fa-facebook-square:hover{
  color: #4267b2;
}

.fa-linkedin:hover{
  color: #0e76a8;
}

.fa-github-square:hover{
  color: #6e5494;
}
/*End about*/


/*Start skills*/
.container h1{
  user-select: none;
}

.container h6{
  background: #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  user-select: none;
  text-transform: uppercase;
}

.my-skills{
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2.5rem;
  text-align: center;
}

.skill{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.skill h1{
  font-family: 'Montserrat', 'Lato';
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 2rem -2px 2rem 0;
  background: #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.skill h4{
  background: #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Montserrat', 'Lato';
  font-size: 1rem;
}

.icon-container{
  width: 10rem;
  height: 10rem;
  border: 3px solid #ffffff;
  background-color: #000000;
  margin-bottom: 2rem;
  display: flex;
  transform: rotate(45deg);
}

.icon-container i{
  color: #22f688;
  font-size: 5rem;
  margin: auto;
  transform: rotate(-45deg);
}
/*End skills*/


/*Start portfolio*/
.portfolio-item{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.portfolio-item:last-child{
  margin-bottom: 0;
}

.portfolio-img{
  flex: 1;
  margin-left: 5rem;
  margin-right: 8rem;
}

.portfolio-description{
  flex: 1;
}

.portfolio-description h1{
  font-size: 3rem;
  font-weight: 300;
  margin: 1rem 0;
}

.portfolio-description h6{
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  opacity: 0.7;
}

.portfolio-description .cta{
  display: inline-block;
  margin-top: 2.5 rem;
  font-size: 1.5 rem;
  text-transform: uppercase;
  color: #000000;
  transition: color 650ms;
}

.portfolio-description .cta:hover{
  color: #8617a1;
}
/*End portfolio*/


/*Start timeline*/
.timeline ul{
  border-left: 4px solid #bec1c4;
  border-radius: .8rem;
  background-color: rgba(0,0,0,0.05);
  margin: 0 auto;
  position: relative;
  padding: 5rem;
  list-style: none;
  text-align: left;
  width: 70%;
}

.timeline h1{
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 1rem;
  opacity: .3;
}

.timeline .date{
  border-bottom: 1px solid rgba(255,255,255,0.1);
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  position: relative;
}

.timeline .date:last-of-type{
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.timeline .date::before,
.timeline .date::after{
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
}

.timeline .date::before{
  content: attr(data-date);
  left: -21rem;
  text-align: right;
  min-width: 12rem;
  font-size: 1.5rem;
}

.timeline .date::after{
  content: '';
  box-shadow: 0 0 0 4px #ffffff;
  border-radius: 100%;
  left: -8rem;
  height: 1.5rem;
  width: 1.5rem;
  background-color: #000000;
}
/*End timeline*/


/*Start footer*/
.copyright{
  width: 100%;
  text-align: center;
  background: linear-gradient(45deg, #17031f, #ad0505, #17031f);
  background-size: 200%;
  animation: gradient 7s ease infinite;
  padding: 2rem 0;
  position: relative;
}

.up{
  position: absolute;
  width: 5rem;
  height: 5rem;
  background: linear-gradient(45deg, #3d0653, #ad0505, #3d0653);
  background-size: 100%;
  animation: gradient 7s ease infinite;;
  top: -2.5rem;
  right: 5rem;
  border-radius: 100%;
  display: flex;
  animation: pulse 2s infinite;
  cursor: pointer;
}

.up i{
  color: #ffffff;
  opacity: 0.5;
  font-size: 2rem;
  margin: auto;
}

.copyright p{
  font-size: 1.4rem;
}
/*End footer*/


/*Start animations*/
@keyframes pulse{
  0%{
    box-shadow: 0 0 0 0 rgba(185, 14, 14, 0.75);
  }
  70%{
    box-shadow: 0 0 0 2rem rgba(185, 14, 14, 0);
  }
  100%{
    box-shadow: 0 0 0 0 rgba(185, 14, 14, 0);
  }
}

@keyframes gradient{
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}
/*End animations*/


/*Media Queries*/

@media screen and (max-width: 768px){
  body{
    background-color: rgb(28, 28, 30);
    background: linear-gradient(45deg, #181661, rgb(11, 70, 70),#5f0d0d, #480a5f);
    background-size: 300%;
    animation: gradient 15s ease infinite;
  }

  .landing-text h1{
    font-size: 15rem;
  }

  .landing-text h6{
    font-size: 1.7rem;
  }

  .nav-list{
    flex-direction: column;
  }

  li{
    margin: 2rem 0;
  }

  .nav-link{
    font-size: 4.5rem;
  }

  .about-heading h1{
    font-size: 8rem;
  }

  .section-heading h1{
    font-size 3rem;
  }

  .about-details .nav-list{
    flex-direction: initial;
  }

  .about-details li{
    margin: 0 2rem;
  }

  .icon-container{
    width: 7rem;
    height: 7rem;
  }

  .icon-container i{
    font-size: 4rem;
  }

  .timeline ul{
    margin: 0 0 0 auto;
  }

  .timeline .date::before{
    left: -20rem;
  }

  .timeline .date:after{
    left: -5.9rem;
  }
}

@media screen and (max-width: 600px){

  .menu-toggler{
    top: 2rem;
    right: 2rem;
  }

  .landing-text h1{
    font-size: 8rem;
  }

  .landing-text h6{
    font-size: 1.4rem;
  }

  .nav-link{
    font-size: 3.5rem;
  }

  .about .container{
    flex-direction: column;
  }

  .profile-img{
    margin: 0 0 7rem 0;
  }

  .portfolio-item{
    flex-direction: column;
  }

  .portfolio-img{
    margin: 0 0 2rem 0;
    order: 1;
  }

  .portfolio-description{
    margin: 0;
    order: 2;
  }

  .timeline p{
    font-size: 1.6rem;
  }

  .timeline .date::before{
    font-size: 1.4rem;
  }

  form{
    width: 100%;
  }

  .up{
    right: 2rem;
  }
}